.banner-content
{
    padding-top: 350px;
    padding-left: 3rem;
    width: 45rem;
    background: transparent;
}
.banner-content h1{
    font-size: 2.5rem;
    background: transparent;


}
.banner-content h2{
    font-size: 1rem;
    padding-top: 1rem;
    background: transparent;
}

